<p>back to {{#link-to "category" model.category.id}}{{model.category.name}}{{/link-to}}</p>
<h2>{{model.title}}</h2>
<h5>{{model.description}}</h5>
{{update-listing listing=model updateListing="updateListing"}}
{{outlet}}
