<p>back to {{#link-to "category" model.category.id}}{{model.category.name}}{{/link-to}}</p>
<legend><h2>{{model.title}}</h2></legend><h5>{{format-date model.date}}</h5>
<p>submitted by {{model.author}}</p>
<div class="listing-description">
  <h5>{{model.description}}</h5>
</div>
{{update-listing listing=model updateListing="updateListing"}}
<button class="btn btn-danger" {{action "deleteListing" model}}><i class="fa fa-trash"></i></button>
{{outlet}}
